<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <title>PracTx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/splash/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/splash/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/splash/main.css" rel="stylesheet">
    <script type="text/javascript">
        var analytics = analytics || [];
        analytics.load = function (e) {
            var t = document.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = ("https:" === document.location.protocol ? "https://" : "http://") + "d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/" + e + "/analytics.min.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(t, n);
            var r = function (e) {
                return function () {
                    analytics.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, i = ["identify", "track", "trackLink", "trackForm", "trackClick", "trackSubmit", "pageview", "ab", "alias", "ready"];
            for (var s = 0; s < i.length; s++)analytics[i[s]] = r(i[s])
        };
        analytics.load("aq5kapao5v");
    </script>
</head>
<body style="min-width: 1200px;">

<header class="image-logo logo-and-nav">
    <div class="container">
        <div class="row">
            <a href="/"><div class="span2 image-logo"></div></a>
            <div class="span7 top-nav">
                <a class="navmenu" href='/features'>Features</a>
                <a class="navmenu navmenu-selected" href='/about'>About us</a>
            </div>
            <div class="span3 top-nav rhs">
                <div class="button-blue">
                    <a href='/login'>Try it FREE</a>
                </div>
                <a class="login" href='/login'>Login</a>
            </div>
        </div>
    </div>
</header>

<section id="better-outcomes-heading">
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text main-heading">
                We believe in better outcomes <br />
                for manual therapy patients.
            </div>
        </div>
    </div>
</section>

<section id="improve-lives-banner">
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text">
                We create products that improve the lives of patients and simplify those for practitioners.
            </div>
        </div>
    </div>
</section>

<div class="container" id="founding-partners-row">
    <div class="row">
        <div class="span4">
            <hr/>
        </div>
        <div class="span4 centre-aligned-text ">
                Founding partners
        </div>
        <div class="span4">
            <hr/>
        </div>
    </div>
</div>

<div class="container" id="founding-partners-info">
    <div class="row">
        <div class="offset2 span4" id="sydney-osteo">
            <div class="partner-name">Dr Themos Gourlas</div>
            <div class="partner-tag">SUBJECT MATTER EXPERT</div>
            <div class="partner-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.
            </div>
            <div class="partner-url"><a href="http://WWW.SYDNEYOSTEO.COM.AU">WWW.SYDNEYOSTEO.COM.AU</a></div>
            <hr class="partner-hr"/>
            <a href="http://twitter.com/sydneyosteo"><div class="partner-twitter"></div></a>
        </div>
        <div class=" offset1 span4" id="industrie-it">
            <div class="partner-name">Industrie IT</div>
            <div class="partner-tag">IT CONSULTING</div>
            <div class="partner-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br/><br/>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint tat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="partner-url"><a href="http://www.industrieit.com">WWW.INDUSTRIEIT.COM</a></div>
            <hr class="partner-hr"/>
            <a href="http://www.linkedin.com/company/industrie-it/"><div class="partner-linkedin"></div></a>
            <a href="http://twitter.com/industrieit"><div class="partner-twitter"></div></a>
        </div>
    </div>
</div>

<section id="philosophy-quote">
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text" id="big-quote">
                "Some kind of quote. About your philosophy or approach."
            </div>
        </div>
        <div class="row">
            <div class="span12 centre-aligned-text" id="quoter">
                PERSON QUOTED
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text" id="bottom-nav">
                <a href="/">Home</a> &#8226; <a href="/features">Features</a> &#8226;
                <a href="/about">About<span id="regular-space"> </span>us</a>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="social-buttons"></div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/javascripts/splash/bootstrap.min.js"></script>
<script src="/javascripts/splash/main.js"></script>
</body>
</html>