<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <title>Welcome to PracTx</title>
    <meta name="description" content="Create simple, effective exercise programs and achieve better clinical results."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='Content-Type' content='Type=text/html; charset=utf-8'>
    <!-- old Bootstrap -->
    <!-- <link href="/stylesheets/splash/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/splash/bootstrap-responsive.css" rel="stylesheet"> -->
    <!-- new bootstrap -->
    <link href="/stylesheets/newbootstrapCSS/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/newbootstrapCSS/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/splash/main.css?1" rel="stylesheet">
    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 885227451]);
    (function() {
    function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
    if (window.attachEvent) window.attachEvent('onload', __ldinsp);
    else window.addEventListener('load', __ldinsp, false);
    })();
    </script>
    <!-- End Inspectlet Embed Code -->
    <!-- Facebook Conversion Code for 30 Day Free Trial Offer1 -->
    <script type="text/javascript">
    if(document.URL.indexOf("/aca") >= 0){ 
        (function() {
          var _fbq = window._fbq || (window._fbq = []);
          if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
          }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '6014135460376', {'value':'0.01','currency':'USD'}]);
    }
    </script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6014135460376&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

    <script type="text/javascript">
        var analytics = analytics || [];
        analytics.load = function (e) {
            var t = document.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = ("https:" === document.location.protocol ? "https://" : "http://") + "d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/" + e + "/analytics.min.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(t, n);
            var r = function (e) {
                return function () {
                    analytics.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, i = ["identify", "track", "trackLink", "trackForm", "trackClick", "trackSubmit", "pageview", "ab", "alias", "ready"];
            for (var s = 0; s < i.length; s++)analytics[i[s]] = r(i[s])
        };
        analytics.load("aq5kapao5v");
    </script>
</head>
<body>
    <script>
    document.getElementsByTagName('body')[0].removeAttribute("min-width");
    document.cookie="practxpromocode=<%= refCode %>";
    </script>

<div class="navbar navbar-inverse navbar-static-top image-logo logo-and-nav">
      <div >
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="margin:25px;">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a href="/"><div class="brand image-logo" style="width: 134px;"></div></a> -->
          <a href="/" class="brand image-logo" style="width: 175px;"></a>
          <div id="fold-menu" class="collapse nav-collapse" style="height: 0px;z-index: 1; margin-left:0px; margin-right:0px;">
            <ul class="nav top-nav push-down-nav" style="margin-left:0px;">
                <li><a class="navmenu" style="width:100%" href='/'>Home</a></li>
                <li><a class="navmenu" style="width:100%" href='/features'>Features</a></li>
                <li><a class="navmenu" style="width:100%" href='/offerpricing?gst=<%= refCode %>'>Pricing Plans</a></li>
                <li><a class="navmenu" style="width:100%" id="play-sample-button" onclick="analytics.track('Video');">Tour</a></li>
               <!-- <a class="navmenu" href='/about'>About us</a> -->
            </ul>
            <ul class="nav top-nav push-down-nav pull-right">
                <!--<li>
                    <div class="button-blue fold-out-button">
                        <a class="tryItBtn" href='/offerpricing'>Sign Up</a>
                    </div>
                </li> -->
                <li>
                    <div class="button-blue pink fold-out-button">
                        <a class="tryItBtn " role="link" href="#form-container">FREE TRIAL</a>
                    </div>
                </li>
                <li>
                    <a class="login" href='/login'>Login</a>
                </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<!-- <div class="navbar navbar-inverse navbar-fixed-top image-logo logo-and-nav">
    <div class="container">
            <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a href="/"><div class="span2 image-logo"></div></a>
            <div class="nav top-nav push-down-nav">
                <a class="navmenu" href='/'>Home</a>
                <a class="navmenu" href='/features'>Features</a>
                <a class="navmenu" href='/offerpricing?gst=<%= refCode %>'>Pricing Plans</a>
                <a class="navmenu" id="play-sample-button" onclick="analytics.track('Video');">Tour</a>
               <!-- <a class="navmenu" href='/about'>About us</a>
            </div>
            <div class="nav top-nav push-down-nav pull-right">
                <div class="button-blue">
                    <a class="tryItBtn" href='/plans'><!--Try it FREESign Up</a>
                </div>
                <a class="login" href='/login' style="margin-left:44px;">Login</a>
                <div class="button-blue" style="background-color: hotpink;">
                    <a class="tryItBtn" role="link" href="#form-container">FREE TRIAL</a>
                </div>
            </div>
        
    </div>
</div> -->

<!-- <section id="association-header"> -->
    <div class="container">
        <div class="row">
            <div class="span4 mobile-margin">
                <div id="logo-holder"></div>
                <script type="text/javascript">
                    var logoHolder = document.getElementById('logo-holder');
                    if ('<%= refCode %>' == 'oa') {
                        logoHolder.style.margin= "52px 0px 0px 0px";
                        logoHolder.style.padding= "0px 0px 0px 5px";
                        logoHolder.style.width= "100%";
                        logoHolder.innerHTML = '<span class="medium-dark-blue" style="margin-top:50px;font-size:29px;line-height: 26px;">The Future of<br> Patient Management<br><br></span><span class="blue-header" style="font-size: 25px;">Perscribe stunning HD - exercise videos in seconds.<br>Quick, simple and effective rehabilitation.</span>';
                    } else if ('<%= refCode %>' == 'limitedoffer') {
                        logoHolder.style.margin= "40px 0px 0px 0px";
                        logoHolder.style.padding= "0px 0px 0px 5px";
                        logoHolder.style.width= "100%";
                        logoHolder.innerHTML = '<span class="medium-dark-blue" style="margin-top:50px;font-size:30px;line-height: 38px;color: deeppink;"><br>30 Days <u style="line-height:1;">FREE TRIAL</u><br>Then choose either<br>$350 a year. <strike>$480</strike><br>or $35 per mth. <strike>$40</strike><br><br></span><span class="blue-header" style="font-size: 25px;">Perscribe stunning HD - exercise videos in seconds.<br>Quick, simple and effective rehabilitation.</span>';
                    } else {
                        logoHolder.innerHTML = '<img class="<%= refCode %>" id="association-logo" src="/img/<%= img %>"></img>';
                    }
                </script>
            </div>
            <div class="span8 mobile-margin">
                <div>
                    <img id="hero-img" class="align-grey" src="/img/practx-laptop-and-ipad.png" style="padding-top: 50px;"></img>
                </div>
            </div>
        </div>
    </div>
<!-- </section> -->
<div class="grey-span container" style="padding-bottom:62px;">
    <div class="mobile-margin row">
        <div class="container">
            <div class="row">
                <div class="span11 offset1">
                    <div class="span6" id="text-container" style="margin-left:0px;">
                        <div id="you-will-receive">
                            Here is what you will receive:
                        </div>
                        <div>
                             <ul id="association-landing-list" style="">
                              <li class="association-landing-list-item" style="background-image: url(/img/splash/clock-icon.png);">30 Day Free Trial</li>
                              <li class="association-landing-list-item" style="background-image: url(/img/icons/infinity.png);">Unlimited Patients</li>
                              <li class="association-landing-list-item" style="background-image: url(/img/icons/infinity.png)">Unlimited Exercise Programs</li>
                              <li class="association-landing-list-item" style="background-image: url(/img/icons/play-icon.png)">Access to all HD-videos</li>
                              <li class="association-landing-list-item" style="background-image: url(/img/icons/gear.png)">Automated <span id="hide-text">Patient</span> Email System</li>
                              <li class="association-landing-list-item" style="background-image: url(/img/splash/love-icon.png)">Access to our Support Team</li>
                              <li class="association-landing-list-item" style="background-image: url(/img/icons/refresh.png)">Access to Future Updates</li>
                            </ul>
                        
                        </div>
                    </div>
                    <div class="span4 center-margin" id="association-trial-container">
                        <div class="small-light-blue">Signup to receive a</div>
                        <div class="medium-dark-blue">Free 30 Day Trial</div>
                        <div id="form-container"> 
                            <iframe id="iframe" src="/signup_iframe?referral_code=<%= refCode %>&amp;trial=yes" style="width: 100%; height: 185px;" seamless scrolling="no" frameborder="0"></iframe> 
                            <!-- <iframe id="iframe" src="/signup_iframe?plan=DSFASEF2342N4" style="width: 100%; height: 185px;" seamless scrolling="no" frameborder="0"></iframe> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div style="padding-top:50px;">
        <div class="row">
            <div class="span12">
                <div id="associtaion-quotes-header" class="blue-header">PracTx is loved by thousands of healthcare practitioners worldwide</div>
                <div class="span4 center-margin" style="width: 332px;height: 308px;">
                    <div id="quote-lady">
                        <img style="width: 100%;" src='img/<%= quoteimg %>'></img>

                    </div>
                </div>
                <div class="span7 mobile-margin" >
                    <div>
                        <div id="association-quote"> <span class="blue-header blue-quote-icons">"</span>
                            <%= quote %><span class="blue-header blue-quote-icons">"</span>
                        </div>
                        <div class="association-quoter" >
                            <%= quoter %>,
                        </div>
                        <div class="association-quoter" style="color: #3cbbd2; margin-top: 0px;">
                            <%= profession %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
</div>
<div class="mobile-margin container centre-aligned-text" style="padding-bottom:20px;">
    <hr style="margin: 46px 0px 20px 0px;">
    We also have plans available for multiuser clinics. Please make an enquiry direct to <a href="mailto:support@practx.com">support@practx.com</a>
</div>
<footer>
    <div class="container">
        <div class="row mobile-margin">
            <div class="span12 centre-aligned-text" id="bottom-nav">
                <a href="index.html">Home</a> &#8226; <a href="/features">Features</a>  &#8226; <a href="/offerpricing?gst=<%= refCode %>">Plans and Pricing</a><!--&#8226; <a href="/about">About<span id="regular-space"> </span>us</a>-->
                &#8226; <a href="/legal">Terms & Conditions</a> &#8226; <a href="/privacy">Privacy Policy</a>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="social-buttons">
                    <a href="http://instagram.com/practx" target="_blank"><img style="height:38px;"src="/img/splash/instagram-btn.png"/></a>
                    <a href="https://www.facebook.com/pages/Practx/423199081103844" target="_blank"><img src="/img/splash/facebook-btn.png"/></a>
                    <a href="mailto:support@practx.com" target="_blank"><img src="/img/splash/email-btn.png"/></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12 centre-aligned-text">
                <span class="contact-section"><br>
                    <b>© 2013 PracTx</b> Level 5, 50 Carrington Street, Sydney NSW 2000, Australia.<br>
                    <b>ABN:</b> 37 159 231 357 | <b>E:</b> support@practx.com<br>&nbsp;
                </span>
            </div>
        </div>
    </div>

</footer>

<div id="videoModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="playButton" data-keyboard="false" data-backdrop="static" modal-body="videoModalBody" aria-hidden="false">
    <div class="row heading">
        <a id="close-video-modal" class="pull-right" style="color: white; opacity: 0.6; margin-top: 0; text-decoration: none; cursor: pointer" aria-hidden="true">×</a></div>
    <div class="modal-body" id="videoModalBody" play-video="videoExercise"><video id="theVideo" width="720" height="400" controls=""><source src="https://d2bjomctld7cul.cloudfront.net/videos/practx-demo.m4v">  Your browser does not support the video tag.</video></div>
</div>

<div id="exerciseVideoModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="playButton" data-keyboard="false" data-backdrop="static" modal-body="videoModalBody" aria-hidden="false">
    <div class="row heading">
        <a id="exercise-close-video-modal" class="pull-right" style="color: white; opacity: 0.6; margin-top: 0; text-decoration: none; cursor: pointer" aria-hidden="true">×</a>  <span style="text-transform: uppercase" ng-bind="videoExercise.name" class="ng-binding">Levator Scapulae</span></div>
 <div class="modal-body" id="exerciseVideoModalBody" play-video="videoExercise"><video id="exerciseVideo" width="720" height="400"  controls=""><source type="video/webm" src="https://d2bjomctld7cul.cloudfront.net/videos/levator-scapulae.webm"><source type="video/mp4" src="https://d2bjomctld7cul.cloudfront.net/videos/levator-scapulae.mp4">  Your browser does not support the video tag.</video></div>
</div>



<script src="https://code.jquery.com/jquery.js"></script>
<!-- <script src="/javascripts/splash/bootstrap.min.js"></script> -->
<script src="/javascripts/newbootstrapJS/bootstrap.min.js"></script>
<script src="/javascripts/splash/main.js?1"></script>
</body>
</html>