<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <title>PracTx Features</title>
    <meta name="description" content="Step into the future of patient management"/>
    <meta http-equiv='Content-Type' content='Type=text/html; charset=utf-8'>
    <meta name="viewport" content="">
    <!-- Bootstrap -->
    <link href="/stylesheets/splash/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/splash/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/splash/main.css?1" rel="stylesheet">
    <script type="text/javascript">
        var analytics = analytics || [];
        analytics.load = function (e) {
            var t = document.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = ("https:" === document.location.protocol ? "https://" : "http://") + "d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/" + e + "/analytics.min.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(t, n);
            var r = function (e) {
                return function () {
                    analytics.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, i = ["identify", "track", "trackLink", "trackForm", "trackClick", "trackSubmit", "pageview", "ab", "alias", "ready"];
            for (var s = 0; s < i.length; s++)analytics[i[s]] = r(i[s])
        };
        analytics.load("aq5kapao5v");
    </script>
</head>
<body style="min-width: 1200px;">

<header class="image-logo logo-and-nav">
    <div class="container">
        <div class="row">
            <a href="/">
                <div class="span2 image-logo"></div>
            </a>

            <div class="span7 top-nav">
                <a class="navmenu navmenu-selected" href='/features'>Features</a>
                <a class="navmenu" href='/pricing'>Pricing Plans</a>
               <!-- <a class="navmenu" href='/about'>About us</a> -->
            </div>
            <div class="span3 top-nav rhs">
                <div class="button-blue">
                    <a href='/' class="tryItBtn"><!--Try it FREE-->Sign Up</a>
                </div>
                <a class="login"  href='/login'>Login</a>
            </div>
        </div>
    </div>
</header>

<section id="features-and-benefits-heading">
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text main-heading">
                Features & Benefits
            </div>
        </div>
    </div>
</section>

<section id="features-tab-nav" class="container">
    <div class="row">
        <div class="span12">
            <div id="tab-buttons" class="centre-aligned-text">
                <div id="practitioners-tab-button" class="active-tab">For Practitioners</div>
                <div id="patients-tab-button" class="inactive-tab">For Patients</div>
            </div>
        </div>
    </div>
</section>

<div id="practitioners-tab">

<section class="container" id="intro-header">
    <div class="row">
        <div class="span12 centre-aligned-text">
            <div class="blue-header">
                Step into the future of patient management
            </div>
            <div id="grey-text">
                Let your patients get the benefit of tailored exercise prescription whilst you spend more time doing what you do best.
            </div>
        </div>
    </div>
</section>

<section class="container" id="video-sell">
    <div class="row">
        <div class="span4 centre-aligned-text">
            <div id="black-header">HD Video Library</div>
            <div id="small-blue">Simple to follow instruction.</div>
            <div id="black-body">
                Prescribe stretch & strengthening exercises <br/>
                to anatomically specific muscles with ease. <br/>
                Clearly instructed and easily replicated videos
            </div>
            <div id="play-sample-button">
                <div id="play-icon"></div>
                <div id="play-text">Play sample video</div>
            </div>
        </div>
        <div class="span8">
            <div id="video-spread"></div>
        </div>
    </div>
</section>

<section class="container full-width-hr">
    <div class="row">
        <div class="span12 centre-aligned-text">
            <hr/>
        </div>
    </div>
</section>

<section class="container" id="template-sell">
    <div class="row">
        <div class="span8">
            <div id="template-sell-image"></div>
        </div>
        <div class="span4 centre-aligned-text">
            <div class="blue-line-in">
                Complete a patient's rehabilitation program in seconds.
            </div>
            <div class="section-header">
                Customise your program lists with templates.
            </div>
            <div class="section-body">
                PracTx makes prescribing exercises simple with<br/>
                a custom templates feature. Create your own<br/>
                templates and send them off in seconds.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12 centre-aligned-text full-width-hr" id="video-sell-base">
            <hr/>
        </div>
    </div>
</section>

<section class="container" id="program-sell">
    <div class="row">
        <div class="span4 centre-aligned-text">
            <div class="section-header">
                Creating a program is easy
            </div>
            <div class="blue-line-in">
                Create them with your patient or after
            </div>
            <div class="section-body">
                <div class="step">
                    <div class="number">1.</div>
                    <div class="step-instructions">
                        <b>Tap the (+) button</b> on <br/>
                        an exercise you want to add.
                    </div>
                </div>
                <div class="step">
                    <div class="number">2.</div>
                    <div class="step-instructions">
                        <b>Select</b>  body region using our  <br/>
                        body filter.
                    </div>
                </div>
                <div class="step">
                    <div class="number">3.</div>
                    <div class="step-instructions">
                        <b>Customise</b> the sets, reps, weight, <br/>
                        etc. for each exercise.
                    </div>
                </div>
            </div>
            <div class="step">
                <div class="number">4.</div>
                <div class="step-instructions">
                    Enter patient's name and email <br/>
                    and <b>hit "SEND"</b>
                </div>
            </div>
        </div>
        <div class="span8">
            <div id="program-sell-image"></div>
        </div>
    </div>

</section>

<section class="container full-width-hr">
    <div class="row">
        <div class="span12 centre-aligned-text">
            <hr/>
        </div>
    </div>
</section>

<section class="container" id="angles-sell">
    <div class="row">
        <div class="span8">
            <div id="angles-sell-image"></div>
        </div>
        <div class="span4 centre-aligned-text">
            <div class="blue-line-in">
                Safe, effective, practical.
            </div>
            <div class="section-header">
                Reduce risk of patient injuries
            </div>
            <div class="section-body">
                Using HD- Video, and voice explanations PracTx <br/>
                minimises the risk of injuries to your patients. <br/>
                Give clear, concise instructions each and every time.
            </div>
        </div>
    </div>
</section>

<div class="container view-all-features-row" id="try-it-free-row">
    <div class="row">
        <div class="span4">
            <hr>
        </div>
        <div class="span4 centre-aligned-text">
            <div class="button-blue">
                <a class="tryItBtn" href='/'><b class="features-page-button"><!--Try it FREE-->Sign Up</b><span> - create your first program</span></a>
            </div>
        </div>
        <div class="span4">
            <hr>
        </div>
    </div>
</div>

<section class="container" id="features-header">
    <div class="row">
        <div class="span12 centre-aligned-text">
            <div class="blue-header">
                Even more features
            </div>
        </div>
    </div>
    <div class="row features-section-container">
        <div class="span4 feature-section">
            <div class="feature-ball-clock"></div>
            <div class="feature-info">
                <div class="intro-to-feature">
                    Access anytime / anywhere
                </div>
                <div class="features-details">
                    With the programs online, you and your
                    patients can access them on any device
                </div>
            </div>
        </div>
        <div class="span4 feature-section">
            <div class="feature-ball-heart"></div>
            <div class="feature-info">
                <div class="intro-to-feature">
                    Tailored
                </div>
                <div class="features-details">
                    Patients find the videos easy to follow
                    leading to better outcomes
                </div>
            </div>
        </div>
        <div class="span4 feature-section">
            <div class="feature-ball-download"></div>
            <div class="feature-info">
                <div class="intro-to-feature">
                    Upload patient database
                </div>
                <div class="features-details">
                    PracTx easily uploads exisiting patient data so you can prescribe rehab even more easily.
                </div>
            </div>
        </div>
    </div>
    <div class="row features-section-container">
        <div class="span4 feature-section">
            <div class="feature-ball-edit"></div>
            <div class="feature-info">
                <div class="intro-to-feature">
                    Stand out with professionalism
                </div>
                <div class="features-details">
                    PracTx will differentiate your clinic. Stand out and make your patients notice.
                </div>
            </div>
        </div>
        <div class="span4 feature-section">
            <div class="feature-ball-heart"></div>
            <div class="feature-info">
                <div class="intro-to-feature">
                    Customise each exercise
                </div>
                <div class="features-details">
                    Use our program templates or create
                    your own in under 1 minute, customised
                    for your patient
                </div>
            </div>
        </div>
        <div class="span4 feature-section">
            <div class="feature-ball-download"></div>
            <div class="feature-info">
                <div class="intro-to-feature">
                    Custom branding
                </div>
                <div class="features-details">
                    Add your clinic details so patients can contact you easily.
                </div>
            </div>
        </div>
    </div>
    <div class="row features-section-container">
        <div class="span4 feature-section">
            <div class="feature-ball-edit"></div>
            <div class="feature-info">
                <div class="intro-to-feature">
                    Easy to follow
                </div>
                <div class="features-details">
                    Patients find videos easy to follow
                    reducing confusion and injuries
                </div>
            </div>
        </div>
        <div class="span4 feature-section">
            <div class="feature-ball-heart"></div>
            <div class="feature-info">
                <div class="intro-to-feature">
                    Optimised for Tablet &amp; mobile
                </div>
                <div class="features-details">
                    Smartphone and tablet users will love using the sleek interface.
                </div>
            </div>
        </div>
        <div class="span4 feature-section">
            <div class="feature-ball-download"></div>
            <div class="feature-info">
                <div class="intro-to-feature">
                    Editing patients is easy
                </div>
                <div class="features-details">
                    Follow up consultations take seconds to review, modify and send.
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<div id="patients-tab">

    <section id="print-out-quote" class="container">
        <div class="row">
            <div class="span12 centre-aligned-text" id="blue-quote">
                "Compared to the print outs I used to get this is so easy to follow. <br/>
                I watch them on my phone and feel I'm improving faster"
            </div>
        </div>
        <div class="row">
            <div class="span12 centre-aligned-text quoter">
                <b>Jane Hinksman</b> - Neck C4 Disk swelling
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="span4 centre-aligned-text">
                <div id="image-quick-to-create"></div>
                <div class="image-subheading">Never lose a program again</div>
                <div class="image-description">Use program templates or customise <br/>your own in under 1 minute</div>
            </div>

            <div class="span4 centre-aligned-text">
                <div id="image-easy-for-patients"></div>
                <div class="image-subheading">Access from Anywhere</div>
                <div class="image-description">Patients find the videos easy to follow and <br/>
                    access from any device, leading to higher <br/>
                    participation and reduction in injuries.
                </div>
            </div>

            <div class="span4 centre-aligned-text">
                <div id="image-140-exercise-videos"></div>
                <div class="image-subheading">Easy to follow in High Definition</div>
                <div class="image-description">A huge library of quality videos that
                    we're adding to all the time.
                </div>
            </div>
        </div>
    </div>

    <section class="container full-width-hr">
        <div class="row">
            <div class="span12 centre-aligned-text">
                <hr/>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="span12 centre-aligned-text" id="black-header-confidence">
                Confidence to perform the exercises correctly
            </div>
        </div>
        <div class="row">
            <div class="span12 centre-aligned-text quoter" id="black-quote-confidence">
                "I used to forget everything and not bother. Following the videos makes me believe I'm doing them
                right."
            </div>
        </div>
        <div class="row">
            <div class="span12 centre-aligned-text quoter">
                <b>Derek Heyward</b> - Crusiate knee surgery rehabilitation
            </div>
        </div>
        <div class="row" id="view-sample-button-container">
            <div class="centre-aligned-text" id="view-sample-button">
                <a href='http://practx.com/exerciselist/08fb95bbf8fb6f9eac6ba5a346410420' target='_blank'><span style="color: white">View sample</span></a>
            </div>
        </div>
    </section>

    <section id="exercise-program">
    </section>

    <section class="container" id="info-boxes">
        <div class="row features-section-container">
            <div class="span4 feature-section">
                <div class="feature-ball"></div>
                <div class="feature-info">
                    <div class="intro-to-feature">
                        Access anytime / anywhere
                    </div>
                    <div class="features-details">
                        With the programs online, you and your
                        patients can access them on any device
                    </div>
                </div>
            </div>
            <div class="span4 feature-section">
                <div class="feature-ball"></div>
                <div class="feature-info">
                    <div class="intro-to-feature">
                        Tailored to your patient
                    </div>
                    <div class="features-details">
                        Patients find the videos easy to follow <br/>
                        leading to better outcomes.
                    </div>
                </div>
            </div>
            <div class="span4 feature-section">
                <div class="feature-ball"></div>
                <div class="feature-info">
                    <div class="intro-to-feature">
                        Manage Patient list
                    </div>
                    <div class="features-details">
                        Use our program templates or create <br/>your own in under 1 minute, <br/>customised for your
                        patient.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container view-all-features-row" id="try-it-free-features-row">
        <div class="row">
            <div class="span4">
            </div>
            <div class="span4 centre-aligned-text">
                <div class="button-blue">
                    <a class="tryItBtn" href='/'><b class="features-page-button"><!--Try it FREE-->Sign Up</b><span> - create your first program</span></a>
                </div>
            </div>
            <div class="span4">
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text" id="bottom-nav">
                <a href="index.html">Home</a> &#8226; <a href="/features">Features</a>  &#8226; <a href="/pricing">Plans and Pricing</a><!--&#8226; <a href="/about">About<span id="regular-space"> </span>us</a>-->
                &#8226; <a href="/legal">Terms & Conditions</a> &#8226; <a href="/privacy">Privacy Policy</a>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="social-buttons">
                    <a href="https://www.facebook.com/pages/Practx/423199081103844"><img src="/img/splash/facebook-btn.png"/></a>
                    <a href="mailto:support@practx.com"><img src="/img/splash/email-btn.png"/></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12 centre-aligned-text">
                <span class="contact-section"><br>
                    <b>© 2013 PracTx</b> Level 5, 50 Carrington Street, Sydney NSW 2000, Australia.<br>
                    <b>ABN:</b> 37 159 231 357 | <b>E:</b> support@practx.com<br>&nbsp;
                </span>
            </div>
        </div>
    </div>

</footer>


<div id="videoModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="playButton" data-keyboard="false" data-backdrop="static" modal-body="videoModalBody" aria-hidden="false">
    <div class="row heading">
        <a id="close-video-modal" class="pull-right" style="color: white; opacity: 0.6; margin-top: 0; text-decoration: none; cursor: pointer" aria-hidden="true">×</a>  <span style="text-transform: uppercase" ng-bind="videoExercise.name" class="ng-binding">Cross Crawl</span></div>
    <div class="modal-body" id="videoModalBody" play-video="videoExercise"><video id="theVideo" width="720" height="400" controls=""><source type="video/webm" src="https://d2bjomctld7cul.cloudfront.net/videos/cross-crawl.webm"><source type="video/mp4" src="https://d2bjomctld7cul.cloudfront.net/videos/cross-crawl.mp4">  Your browser does not support the video tag.</video></div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/javascripts/splash/bootstrap.min.js"></script>
<script src="/javascripts/splash/main.js?1"></script>
</body>
</html>