<!DOCTYPE html>
<html>
<head>
    <title>Terms and Conditions</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style>
        *{font-family: 'Open Sans', sans-serif;}

    </style>
</head>
<body>
<h1>Terms and Conditions</h1>
<h2>Terms of use</h2>
<p>This Agreement is between you (“the User”) and PracTx with regard to an online Platform that was developed by PracTx to enhance the way practitioners like you interact with their patients or clients and to assist practitioners in the prescription of exercises to their patients.</p>
<p>By using and accessing the Platform you acknowledge that you have read this Agreement and that you accept without modification the terms and conditions.</p>
<h2>Medical Disclaimer</h2>
<p>This Platform is provided for information purposes only. Although every care was undertaken in the production of the exercise programs, this Platform is not designed to replace professional consultation, reasoning or opinions of medical practitioners.</p>
<p>The User of this Platform should not use the Platform as a basis for diagnosing or treating any health problem or disease without consulting with a qualified health care provider.
<p>The User agrees that the prescription of the exercises are within the boundaries of your professional scope, governed by the appropriate professional registration body and their laws.</p>
<p>The User agrees and warrants that in prescribing the exercises on the Platform to patients or clients, he or she is practicing within the boundaries of their expertise and that he or she retains the appropriate professional indemnity insurance required by their professional registration bodies.</p>
<h2>Fair Use Policy</h2>
<h4>Summary</h4>
<p>PracTx designed the fair use policy to keep our customers service at levels that are possible within an individuals 'health care provider' scope of practice and to minimise fraudulent practices.</p>
<p>PracTx may make changes to the fair use policy at any time.</p>
<p>PracTx may rely on the use of the policy where your use of PracTx is 'unreasonable' as defined below.</p>
<h4>Definition</h4>
<p>Unreasonable use of PracTx is defined by the registration of more that 25 patients per day to a total of 150 on any given week.</p>
<p>Registration of patients is defined by any email address that is captured by the database.</p>
<p>Fraudulent use will imply the determination of our fair use policy.</p>
<p>Fraudulent use is defined by any activity that is without PracTx consent.  This includes sharing of login details, copy or transmission of any of PracTx's content outside of the platforms capabilities.</p>
<h4>Our Rights</h4>
<p>Where You are in breach of this Fair Use Policy, PracTx may contact You to discuss changing Your usage so that it conforms to this Fair Use Policy.</p>
<p>If, after PracTx has contacted you, Your unreasonable use continues, PracTx may, without further notice to you:
<ol type="a">
    <li>suspend or limit the Service (or any feature of it) for any period We think is reasonably necessary; and/or</li>
    <li>terminate Your agreement in accordance with the application of this policy.</li>
</ol>
</p>
<h2>Termination of Services</h2>
<p>You may terminate this Agreement at any time by contacting us or by sending written notice to PracTx, Level 5, 50 Carrington Street, Sydney NSW 2000, Australia. Correspondence must include your first name, last name, and your PracTx login email address. No refunds will be issued if you terminate this Agreement unless your account is in credit and you are terminating due to any changes to the Agreement to which you will be entitled to a refund for any unused, prepaid amounts for the Services.</p>
<p>PracTx may terminate this Agreement or the Services at any time with or without cause, and with or without notice. PracTx shall have no liability to you or any third party because of such termination. If PracTx terminates this Agreement because you breached this Agreement or any applicable laws, no refund will be issued even if you have unused, prepaid amounts for Services under this Agreement.</p>
<p>PracTx may delete any of your archived data within 30 days after the date of termination. Any statutory retention requirements with respect to your business correspondence remain your responsibility. All sections of this Agreement which by their nature should survive termination will survive termination, including, without limitation, ownership, warranties, disclaimers and limitations of liability.</p>
<h2>Legal Disclaimer</h2>
<p>PracTx makes no assumption that the exercises on the Platform are safe without professional assessment and recommendation and accepts no responsibility in the event of death, injury or harm to any person, including the patients or clients of the User arising from the use of the Platform.</p>
<p>The User agrees that it has viewed and assessed all the exercises on the Platform before properly prescribing them to patients and the User warrants that he or she is aware that there may be a risk of injury to patients or clients in the prescription of the exercises on the Platform and that any patient prescribed exercises are prescribed at the risk of the User and not PracTx.</p>
<p>The User agrees that PracTx is not responsible for any liability arising from any death, injury, loss or damage suffered by the patients or clients of the User as a consequence of carrying out exercises on the Platform that were prescribed by the User.</p>
<p>The User agrees to release, indemnify and hold harmless PracTx for any claim, injury, loss or damage brought against the User and/or PracTx by a patient or client of the User arising from any death, injury, loss or damage suffered by the patient or client of the User as a consequence of carrying out exercises on the Platform that were prescribed by the User.</p>
<h2>Copyright</h2>
<p>The Platform, all its content, including visual content, is the property of PracTx or its third party licensors and is protected from unauthorised copying dissemination by worldwide copyright and other intellectual property rights whether or not copyright notice is present.</p>
<p>The User agrees to comply with all intellectual property right laws in its use of the Platform and to prevent any unauthorised copying of the content, including visual content on the Platform.</p>
<p>Nothing contained on the Platform should be construed as granting by implication, estoppel or otherwise, any license or right to use any copyrightable material displayed on the Platform without the express written permission of PracTx or such third party that may own the copyrightable material displayed on the Platform.</p>
<h2>System Requirements</h2>
<p>It is understood that in order to use the Services, a modern browser such as Internet Explorer 9+, Firefox 21+, Safari 5.1+ or Google Chrome 16+ is required. Additionally, a stable connection to the Internet is required. The Services may work in a limited manner on other web browsers (such as earlier versions of the previously mentioned browsers), but the Services were not designed for use on web browsers other than those recommended above.</p>
</body>
</html>