<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <title>PracTx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/splash/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/splash/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/splash/main.css" rel="stylesheet">
    <link href="/stylesheets/splash/plan.css" rel="stylesheet">
    <script type="text/javascript">
        var analytics = analytics || [];
        analytics.load = function (e) {
            var t = document.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = ("https:" === document.location.protocol ? "https://" : "http://") + "d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/" + e + "/analytics.min.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(t, n);
            var r = function (e) {
                return function () {
                    analytics.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, i = ["identify", "track", "trackLink", "trackForm", "trackClick", "trackSubmit", "pageview", "ab", "alias", "ready"];
            for (var s = 0; s < i.length; s++)analytics[i[s]] = r(i[s])
        };
        analytics.load("aq5kapao5v");
    </script>
</head>
<body style="min-width: 1200px;">

<header class="image-logo logo-and-nav">
    <div class="container">
        <div class="row">
            <a href="/"><div class="span2 image-logo"></div></a>
            <div class="span7 top-nav">
                <a class="navmenu" href='/features'>Features</a>
                <a class="navmenu navmenu-selected" href='/pricing'>Pricing Plans</a>
            </div>
            <div class="span3 top-nav rhs">
                <div class="button-blue">
                    <a class="tryItBtn" href='/'><!--Try it FREE-->Sign Up</a>
                </div>
                <a class="login" href='/login'>Login</a>
            </div>
        </div>
    </div>
</header>
<section id="legal-heading">
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text main-heading">
                PracTx Professional
            </div>
        </div>
    </div>
</section>
<div class="container" style="margin-top:20px; margin-bottom: 20px">
    <div class="row plan-table">
        <div class="offset3 span6 outer">
            <div class="row-fluid title">
                <div class="span12">
                    The PracTx Professional Package
                </div>
            </div>
            <div class="row-fluid heading">
                <div class="span12">
                      <span class="smallest">$</span>40<span class="smaller">/mth</span>
                </div>
            </div>
            <div class="row-fluid content">
                <div class="span12 ">
                    <a href="/payment?plan=X1Q4XFU8HT8JVGTU"><b>Pay for the year upfront and receive 2 months free! $400 per year</b></a></p>
                </div>
            </div>
            <div class="row-fluid content">
                <div class="span12">
                    <b>30 day trial period</b>
                </div>
            </div>
            <div class="row-fluid content">
                <div class="span12">
                    <b>Unlimited Patients</b>
                </div>
            </div>
            <div class="row-fluid content">
                <div class="span12">
                    <b>Unlimited Exercise Programs</b>
                </div>
            </div>
            <div class="row-fluid content">
                <div class="span12 ">
                    <b>Access</b> to all <b>HD-videos</b>
                </div>
            </div>
            <div class="row-fluid content">
                <div class="span12 ">
                    <b>Automated Patient Email System</b>
                </div>
            </div>
            <div class="row-fluid content">
                <div class="span12 ">
                    <b>Access</b> to our <b>Support Team</b>
                </div>
            </div>
            <div class="row-fluid content">
                <div class="span12 ">
                    <b>Access</b> to <b>Future Updates</b>
                </div>
            </div>
            <div class="row-fluid content">
                <div class="span12 ">
                    <a href="/features"><b>See how PracTx can work for your practice!</b></a></p>
                </div>
            </div>
            <div class="row-fluid buy">
                <div class="span12">
                    <div class="button-blue">
                        <a href='/payment' class="tryItBtn"><b>Sign Up</b> - only $40 a month</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='span9'>
            <div class="legal-text" style="text-align: right; margin-top: 20px">
                Prices are in Australian Dollars and include G.S.T<br>
                By subscribing to PracTx you agree to our <a href="/legal">Terms of Use</a> and <a href="/privacy">Privacy Policy</a></div>
            </div>
    </div>

    <hr>
    <div class="row">
        <div class="span6 legal-left centre-aligned-text">
            <div class="legal-header">When will I be charged?</div>
            <div class="legal-text">
                Your first charge of $40 AUD will occur after your 30 day free trial. Payments will then occur monthly at $40 AUD per payment. You can cancel your account at any time.
            </div>
            <div class="legal-header">How do I cancel?</div>
            <div class="legal-text">
                Contact us with your login email address and we will cancel your account for you. You will not be charged if you cancel your account within 30 days of signing up.<br><br>
                Contact Details:<br>
                <b>PracTx</b> Level 5, 50 Carrington Street, Sydney NSW 2000, Australia.<br>
                <b>ABN:</b> 37 159 231 357 | <b>E:</b> support@practx.com<br>&nbsp;
            </div>
        </div>
        <div class="span6 legal-right centre-aligned-text">
            <div class="legal-header">How can I pay?</div>
            <div class="legal-text">
                We accept Visa, MasterCard and American Express.
            </div>
            <div class="legal-header">How secure is my payment info?</div>
            <div class="legal-text">
                All payments are securely processed by industry leader Braintree Payment Solutions. Your card information never even touches our servers.
            </div>
            <div class="legal-header">Further information</div>
            <div class="legal-text">
                Information about payment disputes and terms and conditions are available on our <a href="/legal">Terms of Use</a> page.

                Details on how your data is used by PracTx is available at our <a href="/privacy">Privacy Policy</a> page.
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text" id="bottom-nav">
                <a href="index.html">Home</a> &#8226; <a href="/features">Features</a>  &#8226; <a href="/plans">Plans and Pricing</a><!--&#8226; <a href="/about">About<span id="regular-space"> </span>us</a>-->
                &#8226; <a href="/legal">Terms of Use</a> &#8226; <a href="/privacy">Privacy Policy</a>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="social-buttons">
                    <a href="https://www.facebook.com/pages/Practx/423199081103844" target="_blank"><img src="/img/splash/facebook-btn.png"/></a>
                    <a href="mailto:support@practx.com" target="_blank"><img src="/img/splash/email-btn.png"/></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12 centre-aligned-text">
                <span class="contact-section"><br>
                    <b>© 2013 PracTx</b> Level 5, 50 Carrington Street, Sydney NSW 2000, Australia.<br>
                    <b>ABN:</b> 37 159 231 357 | <b>E:</b> support@practx.com<br>&nbsp;
                </span>
            </div>
        </div>
    </div>

</footer>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/javascripts/splash/bootstrap.min.js"></script>
<script src="/javascripts/splash/main.js"></script>
</body>
</html>