<!DOCTYPE html>
<html lang="en" ng-app="practitionerPortal">
<head>
    <meta charset="utf-8">
    <title>PracTx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/stylesheets/noie.css" rel="stylesheet" type="text/css" />
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/app.css" rel="stylesheet">


    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <script type="text/javascript">
        var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
        analytics.load("aq5kapao5v");
    </script>
</head>
<body>
<div class="navbar" ng-controller="MenuCntl">

    <div class="navbar-pp">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span10">
                    <a class="brand" href="/"><img src="/img/logo.png"/></a>

                </div>

            </div>
        </div>
    </div>
</div>
<div id="friends">
    <h2>Thank you for using PracTx. To access this website, please use one of the below browsers</h2>
</div>

<div id="browser-container">
    <div id="firefox" class="browser"> <a href="http://www.mozilla.com/en-US/firefox/firefox.html"><img src="/img/mozilla-firefox.png" alt="Mozilla Firefox" width="275" height="275" border="0" /></a>
    </div>
    <div id="chrome" class="browser"> <a href="http://www.google.com/chrome/intl/en/landing_chrome.html"><img src="/img/google-chrome.png" alt="Google Chrome" width="275" height="275" border="0" /></a>
    </div>
    <div id="safari" class="broswer"> <a href="http://www.apple.com/safari/download/"><img src="/img/apple-safari.png" alt="Apple Safari" width="275" height="275" border="0" /></a>
    </div>
</div></body>
</html>
