<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <title>PracTx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/splash/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/splash/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/splash/main.css" rel="stylesheet">
    <script type="text/javascript">
        var analytics = analytics || [];
        analytics.load = function (e) {
            var t = document.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = ("https:" === document.location.protocol ? "https://" : "http://") + "d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/" + e + "/analytics.min.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(t, n);
            var r = function (e) {
                return function () {
                    analytics.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, i = ["identify", "track", "trackLink", "trackForm", "trackClick", "trackSubmit", "pageview", "ab", "alias", "ready"];
            for (var s = 0; s < i.length; s++)analytics[i[s]] = r(i[s])
        };
        analytics.load("aq5kapao5v");
    </script>
</head>
<body style="min-width: 1200px;">

<header class="image-logo logo-and-nav">
    <div class="container">
        <div class="row">
            <a href="/"><div class="span2 image-logo"></div></a>
            <div class="span7 top-nav">
                <a class="navmenu" href='/features'>Features</a>
                <a class="navmenu" href='/pricing'>Pricing Plans</a>
            </div>
            <div class="span3 top-nav rhs">
                <div class="button-blue">
                    <a class="tryItBtn" href='/'><!--Try it FREE-->Sign Up</a>
                </div>
                <a class="login" href='/login'>Login</a>
            </div>
        </div>
    </div>
</header>
<section id="legal-heading">
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text main-heading">
                Privacy Policy
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="legal-header">
                Privacy at PracTx
            </div>
            <div class="legal-text">
                At PracTx, we respect the privacy needs of our valued customers and members. This Privacy Policy outlines what specific information is gathered on the PracTx site and how that information is used.
            </div>
            <div class="legal-text">
                Maintaining the privacy of your information is of paramount importance to us as it helps foster confidence, goodwill and stronger relationships with you, our customers. If, at any time, you have questions or concerns about our privacy practices, please feel free contact us at support@practx.com.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6 legal-left">
            <div class="legal-header">Information Collection and Use</div>
            <div class="legal-text">
                PracTx explicitly asks when we need information that personally identifies you (“Personal Information”). Your personal information is used to create your personal access to our product, and to contact you in the course of using this product. Financial information that is collected is used to verify, identity and to bill either you or your company for products and services, as applicable. Demographic and profile data collected by PracTx may be used to tailor this web site or any requested email communications, and to display information that is more relevant to you. PracTx also compiles demographic and product use information, but in the aggregate only, and may make that aggregate information publicly available. Under no circumstances will PracTx make any personal information about an individual user or their patients available to anyone.
            </div>
            <div class="legal-text">
                Your email address is used to only send you information that you have requested. As part of your use of our software, PracTx allows you to elect to receive, or not receive, certain information from PracTx. PracTx adheres strictly to permission-based email policy. Except as mentioned above, PracTx will not send you unsolicited email information, commercial offers or advertisements. PracTx will not sell, rent, or loan our contact lists or our customer’s patient lists (including customer data) to any outside firms nor will PracTx use customer patient lists for our own marketing purposes. All emails that you have requested will have an option to unsubscribe. Unsubscribe requests are fulfilled within minutes and no further communications will be sent to users who have stated that they do not wish to receive the specified information.
            </div>
            <div class="legal-header">Communications from the Site</div>
            <div class="legal-text">
                <b>Special Offers and Updates</b>
                <br>
                We send all new users a welcoming email to verify their new account and confirm their password and username. Established users will occasionally receive information on products, services, special deals, and a newsletter. Out of respect for the privacy of our users we present the option to not receive these types of communications. Customers can unsubscribe via the unsubscribe mechanism at the bottom of each email.</div>
            <div class="legal-text">
                <b>Newsletter</b><br/>
                If a user wishes to subscribe to our newsletter, we ask for contact information such as name and email address. Out of respect for our users privacy we provide a way to opt-out of these communications via the unsubscribe mechanism at the bottom of each email.
            </div>
            <div class="legal-text">
                <b>Service Announcements</b><br>
                On rare occasions it is necessary to send out a strictly service related announcement. For instance, if our service is temporarily suspended for maintenance we might send users an email. Generally, users may not opt-out of these communications, though they can deactivate their account. However, these communications are not promotional in nature.
            </div>
            <div class="legal-text">
                <b>Customer Service</b><br/>
                We communicate with users on a regular basis to provide requested services and in regards to issues relating to their account we reply via email or phone, in accordance with the user’s wishes.
            </div>
        </div>
        <div class="span6 legal-right">
            <div class="legal-header">Patient Lists, Patient Exercise Programs and Email Content</div>
            <div class="legal-text">
                PracTx ensures that all patient lists, email content and patient exercise programs remain private and confidential. PracTx may scan the content of your campaigns to ensure it complies with our Terms of Use — to protect against defamatory, inaccurate, abusive, obscene, profane, or threatening material that is racially or ethnically offensive. PracTx will not sell, rent, loan or invite external access to a customer’s patient lists. Nor will PracTx themselves use customer’s patient lists for any purpose.
            </div>
            <div class="legal-header">Website Usage Information</div>
            <div class="legal-text">
                We use your IP address to help diagnose problems with our server, and to administer our Web site. We do not link your IP address to any personally identifiable information. We use tracking information to determine which areas our site users visit based on traffic to those areas. PracTx does not track what individual users read, but rather how often each page is visited. This helps us maintain a superior and informative website for you.
            </div>
            <div class="legal-header">Security Technology</div>
            <div class="legal-text">
                PracTx has made a substantial investment in the latest server, database, backup and firewall technologies to protect our information assets. These technologies are deployed as part of sophisticated security architecture. All data resides in a tightly controlled, secure data center. These investments mean that information about the identity and preferences of individual members is never accessible to anyone outside PracTx. We will maintain safeguards to protect the security of these servers and your personally identifiable information.</div>
            <div class="legal-header">Policy Modifications</div>
            <div class="legal-text">
                We may change this Privacy Policy from time to time. If/when PracTx makes changes to this privacy statement, we will highlight the changes on our homepage and email users who have given us permission to do so. We will post any changes here, so be sure to check back periodically. However, please be assured that if the Privacy Policy changes in the future, we will not use the personal information you have submitted to us under this Privacy Policy in a manner that is materially inconsistent with this Privacy Policy, without your prior consent.
            </div>
            <div class="legal-header">Contacting PracTx about Privacy</div>
            <div class="legal-text">
                If you have any questions about our privacy statement, the information we have collected from you online, the practices of this site, or your dealings with this web site, please contact us:
            </div>
            <div class="legal-text">
                <b>PracTx</b> Level 5, 50 Carrington Street, Sydney NSW 2000, Australia.<br>
                <b>ABN:</b> 37 159 231 357 | <b>E:</b> support@practx.com<br>&nbsp;
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text" id="bottom-nav">
                <a href="index.html">Home</a> &#8226; <a href="/features">Features</a> &#8226; <a href="/plans">Plans and Pricing</a> <!--&#8226; <a href="/about">About<span id="regular-space"> </span>us</a>-->
                &#8226; <a href="/legal">Terms of Use</a> &#8226; <a href="/privacy">Privacy Policy</a>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="social-buttons">
                    <a href="https://www.facebook.com/pages/Practx/423199081103844" target="_blank"><img src="/img/splash/facebook-btn.png"/></a>
                    <a href="mailto:support@practx.com" target="_blank"><img src="/img/splash/email-btn.png"/></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12 centre-aligned-text">
                <span class="contact-section"><br>
                    <b>© 2013 PracTx</b> Level 5, 50 Carrington Street, Sydney NSW 2000, Australia.<br>
                    <b>ABN:</b> 37 159 231 357 | <b>E:</b> support@practx.com<br>&nbsp;
                </span>
            </div>
        </div>
    </div>

</footer>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/javascripts/splash/bootstrap.min.js"></script>
<script src="/javascripts/splash/main.js"></script>
</body>
</html>