<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style>
        *{font-family: 'Open Sans', sans-serif;}
    </style>
</head>
<body>
<h1>Privacy Policy</h1>
<h2>Privacy at PracTx</h2><p>
    At PracTx, we respect the privacy needs of our valued customers and members. This Privacy Policy outlines what specific information is gathered on the PracTx site and how that information is used.
    Maintaining the privacy of your information is of paramount importance to us as it helps foster confidence, goodwill and stronger relationships with you, our customers. If, at any time, you have questions or concerns about our privacy practices, please feel free contact us at support@practx.com.
</p><h2>Information Collection and Use</h2><p>
    PracTx explicitly asks when we need information that personally identifies you (“Personal Information”). Your personal information is used to create your personal access to our product, and to contact you in the course of using this product. Financial information that is collected is used to verify, identity and to bill either you or your company for products and services, as applicable. Demographic and profile data collected by PracTx may be used to tailor this web site or any requested email communications, and to display information that is more relevant to you. PracTx also compiles demographic and product use information, but in the aggregate only, and may make that aggregate information publicly available. Under no circumstances will PracTx make any personal information about an individual user or their patients available to anyone.</p>
<p>Your email address is used to only send you information that you have requested. As part of your use of our software, PracTx allows you to elect to receive, or not receive, certain information from PracTx. PracTx adheres strictly to permission-based email policy. Except as mentioned above, PracTx will not send you unsolicited email information, commercial offers or advertisements. PracTx will not sell, rent, or loan our contact lists or our customer’s patient lists (including customer data) to any outside firms nor will PracTx use customer patient lists for our own marketing purposes. All emails that you have requested will have an option to unsubscribe. Unsubscribe requests are fulfilled within minutes and no further communications will be sent to users who have stated that they do not wish to receive the specified information.
</p><h2>Communications from the Site</h2>
<h4>Special Offers and Updates</h4>
<p>We send all new users a welcoming email to verify their new account and confirm their password and username. Established users will occasionally receive information on products, services, special deals, and a newsletter. Out of respect for the privacy of our users we present the option to not receive these types of communications. Customers can unsubscribe via the unsubscribe mechanism at the bottom of each email.</p>
<h4>Newsletter</h4>
<p>If a user wishes to subscribe to our newsletter, we ask for contact information such as name and email address. Out of respect for our users privacy we provide a way to opt-out of these communications via the unsubscribe mechanism at the bottom of each email.</p>
<h4>Service Announcements</h4>
<p>On rare occasions it is necessary to send out a strictly service related announcement. For instance, if our service is temporarily suspended for maintenance we might send users an email. Generally, users may not opt-out of these communications, though they can deactivate their account. However, these communications are not promotional in nature.</p>
<h4>Customer Service</h4>
<p>We communicate with users on a regular basis to provide requested services and in regards to issues relating to their account we reply via email or phone, in accordance with the user’s wishes.
</p><h2>Patient Lists, Patient Exercise Programs and Email Content</h2><p>
    PracTx ensures that all patient lists, email content and patient exercise programs remain private and confidential. PracTx may scan the content of your campaigns to ensure it complies with our Terms of Use — to protect against defamatory, inaccurate, abusive, obscene, profane, or threatening material that is racially or ethnically offensive. PracTx will not sell, rent, loan or invite external access to a customer’s patient lists. Nor will PracTx themselves use customer’s patient lists for any purpose.
</p><h2>Website Usage Information</h2><p>
    We use your IP address to help diagnose problems with our server, and to administer our Web site. We do not link your IP address to any personally identifiable information. We use tracking information to determine which areas our site users visit based on traffic to those areas. PracTx does not track what individual users read, but rather how often each page is visited. This helps us maintain a superior and informative website for you.
</p><h2>Security Technology</h2><p>
    PracTx has made a substantial investment in the latest server, database, backup and firewall technologies to protect our information assets. These technologies are deployed as part of sophisticated security architecture. All data resides in a tightly controlled, secure data center. These investments mean that information about the identity and preferences of individual members is never accessible to anyone outside PracTx. We will maintain safeguards to protect the security of these servers and your personally identifiable information.
</p><h2>Policy Modifications</h2><p>
    We may change this Privacy Policy from time to time. If/when PracTx makes changes to this privacy statement, we will highlight the changes on our homepage and email users who have given us permission to do so. We will post any changes here, so be sure to check back periodically. However, please be assured that if the Privacy Policy changes in the future, we will not use the personal information you have submitted to us under this Privacy Policy in a manner that is materially inconsistent with this Privacy Policy, without your prior consent.
</p><h2>Contacting PracTx about Privacy</h2><p>
    If you have any questions about our privacy statement, the information we have collected from you online, the practices of this site, or your dealings with this web site, please contact us:</p>
<p>
    <b>PracTx</b> Level 5, 50 Carrington Street, Sydney NSW 2000, Australia.<br>
    <b>ABN:</b> 37 159 231 357 | <b>E:</b> support@practx.com<br>&nbsp;
</p>
</body>
</html>