<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <title>PracTx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/splash/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/splash/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/splash/main.css" rel="stylesheet">
    <script type="text/javascript">
        var analytics = analytics || [];
        analytics.load = function (e) {
            var t = document.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = ("https:" === document.location.protocol ? "https://" : "http://") + "d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/" + e + "/analytics.min.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(t, n);
            var r = function (e) {
                return function () {
                    analytics.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, i = ["identify", "track", "trackLink", "trackForm", "trackClick", "trackSubmit", "pageview", "ab", "alias", "ready"];
            for (var s = 0; s < i.length; s++)analytics[i[s]] = r(i[s])
        };
        analytics.load("aq5kapao5v");
    </script>
</head>
<body style="min-width: 1200px;">

<header class="image-logo logo-and-nav">
    <div class="container">
        <div class="row">
            <a href="/"><div class="span2 image-logo"></div></a>
        </div>
    </div>
</header>
<section id="legal-heading" style="height: 110px;">
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text main-heading" style="margin-top: 44px;">
                Congratulations!
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="span12" style='text-align: center'>
            <video width="720" height="480" controls="controls" poster="https://d2bjomctld7cul.cloudfront.net/launch/thankyou.png" style='margin: 20px'>
                <source src="https://d2bjomctld7cul.cloudfront.net/launch/thankyou.mp4" type="video/mp4">
                <source src="https://d2bjomctld7cul.cloudfront.net/launch/thankyou.webm" type="video/webm">
                <source src="https://d2bjomctld7cul.cloudfront.net/launch/thankyou.ogv" type="video/ogg">
            </video>

            <div class="legal-text">
                <a class='button-blue btn-large' style='color: white;' href="/">Continue to PracTx</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large" data-count="none" data-via="Prac_Tx">Tweet</a>
            <span style="min-width: 30px">&nbsp;&nbsp;</span>
            <script src="https://apis.google.com/js/plusone.js"></script>
            <div class="g-ytsubscribe" data-channel="practx1" data-layout="default" style='height: 26px; '></div>
            <span style="min-width: 30px">&nbsp;&nbsp;</span>
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fget.practx.com&amp;send=false&amp;layout=standard&amp;width=&amp;show_faces=false&amp;colorscheme=light&amp;action=like&amp;height=35&amp;appId=113033392173197" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:24px;" allowTransparency="true"></iframe>

            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="text-right"><span class="instructions arrow2">Leave your questions and comments below, and let us know what you think.</span></div>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'practx'; // required: replace example with your forum shortname
                var disqus_identifier = 'get.practx.com';
                var disqus_url = 'http://get.practx.com';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="span12 centre-aligned-text">
                <span class="contact-section"><br>
                    <b>© 2013 PracTx</b> Level 5, 50 Carrington Street, Sydney NSW 2000, Australia.<br>
                    <b>ABN:</b> 37 159 231 357 | <b>E:</b> support@practx.com<br>&nbsp;
                </span>
            </div>
        </div>
    </div>

</footer>
</body>
</html>