<div class="alert" messagealert selection="showalert"  ng-show="showalert > 0" ng-bind="status"></div>
<div style="background-color: #ffffff;">
<div class="container" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px;">
    <div class="row">
            <div class="span1" style="width: 53px;">
                <img src="/img/person_icon.png" class="pull-left" style="position: relative; bottom: 3px;"/>
            </div>
            <div class="span11" style="margin-left: 0px;">
                <h2>My Account</h2>
            </div>
    </div>
</div>
</div>
<form name="form" novalidate ng-submit="register()" cool-fade>
    <div class="container" style="padding-top: 20px;">
        <div class="row">
            <div class="span2">
                <h2>My Details</h2>
            </div>
            <div class="span7" style="margin-top: 5px;">
                <div class="control-group" ng-class="{error: form.firstname.$error.required}">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" name="name" required
                               ng-model="practitioner.name" id="name">

                        <p class="help-block" ng-show="form.name.$error.required">Required</p>
                    </div>
                </div>
                <div class="control-group"
                     ng-class="{error: form.email.$error.required || form.email.$error.email}">
                    <label class="control-label" for="email">Email</label>

                    <div class="controls">
                        <input type="email" class="input-block-level" name="email" required
                               ng-model="practitioner.email" id="email">

                        <p class="help-block" ng-show="form.email.$error.required">Required</p>

                        <p class="help-block" ng-show="form.email.$error.email">Must be valid email</p>
                    </div>
                </div>
                <div class="control-group" ng-class="{error: form.practitionerType.$error.required}">
                    <label class="control-label" for="name">Practitioner Type</label>
                    <div class="controls">
                        <div class="btn-group" data-toggle="buttons-radio" style='margin-bottom: 20px;'>
                            <button type="button" class="btn btn-white"  ng-class='{active: "Osteopath" == practitioner.practitionerType}'
                                    ng-click="practitioner.practitionerType = 'Osteopath'">Osteopath</button>

                            <button type="button" class="btn btn-white"  ng-class='{active: "Physiotherapist" == practitioner.practitionerType}'
                                    ng-click="practitioner.practitionerType = 'Physiotherapist'">Physiotherapist</button>

                            <button type="button" class="btn btn-white"  ng-class='{active: "Chiropractor" == practitioner.practitionerType}'
                                    ng-click="practitioner.practitionerType = 'Chiropractor'">Chiropractor</button>

                            <button type="button" class="btn btn-white"  ng-class='{active: "Other" == practitioner.practitionerType}'
                                    ng-click="practitioner.practitionerType = 'Other'">Other</button>
                        </div>
                        <input type="hidden" name="practitionerType" required
                                      ng-model="practitioner.practitionerType" id="practitionerType">

                        <p class="help-block" ng-show="form.practitionerType.$error.required">Required</p>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="clinikoId">Cliniko Key <span class="cliniko-popup-button" ng-click="clinikoWhatIsThis()">(what is this?)</span></label>
                    <div class="controls">
                        <input type="text" class="input-block-level-cliniko" name="clinikoId"
                               ng-model="practitioner.clinikoId" id="clinikoId">

                    </div>
                    <div class="cliniko-popup" ng-show="showClinikoPopup">
                        If you have a Cliniko account and you would like to automatically populate your PracTx Patient list:
                    </br>
                        <ol style ="padding-left: 15px; padding-top: 5px;">
                            <li>Login to Cliniko</li>
                            <li>In the bottom left, left click the "Hello, &lt;You&gt;"</li>
                            <li>Click on "My info"</li>
                            <li>Scroll down until you see the "API Keys"</li>
                            <li>Click "Generate a new API Key"</li>
                            <li>Copy and paste the new API Key into the above text box</li>
                            <li>Finish filling out your details and click "SAVE DETAILS"</li>
                            <li>Please be patient, It may take a few seconds to find all of your patients</li>
                        </ol>
                        <span class="cliniko-popup-button" ng-click="clinikoWhatIsThis()">Hide</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-splitter-top">
            <div class="span2">
                <h2>Clinic Details</h2>
            </div>
            <div class="span7">
                <div class="control-group" ng-class="{error: form.phone.$error.required}">
                    <label class="control-label" for="phone">Phone</label>

                    <div class="controls">
                        <input type="text" class="input-block-level" name="phone" required
                               ng-model="practitioner.phone" id="phone">

                        <p class="help-block" ng-show="form.phone.$error.required">Required</p>
                    </div>
                </div>
                <div class="control-group" ng-class="{error: form.company.$error.required}">
                    <label class="control-label" for="company">Company</label>

                    <div class="controls">
                        <input type="text" class="input-block-level" name="company" required
                               ng-model="practitioner.company" id="company">

                        <p class="help-block" ng-show="form.company.$error.required">Required</p>
                    </div>
                </div>
                <div class="control-group" ng-class="{error: form.website.$error.pattern}">
                    <label class="control-label" for="website">Website</label>

                    <div class="controls">
                        <input type="text" class="input-block-level" name="website" ng-pattern="url"
                               ng-model="practitioner.website" id="website">

                        <p class="help-block" ng-show="form.website.$error.pattern">Website needs to be a valid URL</p>
                    </div>
                </div>
                <div class="control-group" ng-class="{error: form.address.$error.required}">
                    <label class="control-label" for="address">Address</label>

                    <div class="controls">
                        <input type="text" class="input-block-level" name="address" required
                               ng-model="practitioner.address" id="address">

                        <p class="help-block" ng-show="form.address.$error.required">Required</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-splitter-top"
             flow-init="{singleFile:true}"
             flow-files-submitted="$flow.upload()"
             flow-file-success="flowFileSuccess($file, $message, $flow);"
             flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
            <div class="span2">
                <h2>Logo Upload</h2>
            </div>
            <div class="span7">
                <div class="control-group">
                    <label class="control-label">Logo</label>
                    <img src="{{practitioner.logo}}" height="150">
                    <div class="drop" flow-drop ng-class="dropClass">
                        <span class="btn btn-default" flow-btn="">Upload Image
                        <input type="file" name="file"
                           style="visibility: hidden; position: absolute;"></span>
                        <b>OR</b>
                        Drag And Drop your image here
                    </div>
                    <div ng-repeat="file in $flow.files" class="gallery-box">
                        <span class="title">{{file.name}}</span>
                        <div class="thumbnail" ng-show="$flow.files.length">
                            <img flow-img="file" />
                        </div>
                        <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuenow="{{file.progress() * 100}}"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 ng-style="{width: (file.progress() * 100) + '%'}">
                                <!--<span class="sr-only">{{file.progress()}}% Complete</span>-->
                            </div>
                        </div>
                        <div class="btn-group" style="margin-top: 5px;">
                            <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                Remove
                            </a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="row row-splitter-top" >
            <div class="span12">
                <div class="row">
                <div class="span2"></div>
                    <div class="span7">
                <div class="control-group">
                    <label class="control-label"></label>

                    <div class="controls">
                        <input type="submit" ng-disabled="form.$invalid" class="btn btn-generic"
                               data-fail-text="Submit" id="save" data-loading-text="Loading..." btn-action="saveBtnStatus" value="SAVE DETAILS">
                        <a class="btn btn-white" ng-href="/">CANCEL</a>
                    </div>
                </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
</form>